<a href="#" (click)="changeState()" class="item" >
    <div class="recipe-content" [@expand]="contentShown" draggable="true">
        <div class="text-center">
            <h4 class="title" [@grow]="contentShown">{{entry.title}}</h4>

            <div [ngSwitch]="cloud">
                <ng-container *ngSwitchCase="added">
                    <cl-image public-id="{{entry.pic}}"  draggable="false">
                        <cl-transformation width="150" crop="fill" radius="10" ></cl-transformation>
                    </cl-image>
                </ng-container>
                <ng-container *ngSwitchCase="original">
                    <img width="150" src="{{entry.pic}}" alt=""/>
                </ng-container>
            </div>
        </div>
    
        <div [@showContent]="contentShown" class="directions">
            <hr />
            <h4>Ingredients</h4>
            <ol type="1">
                <li *ngFor="let ingredient of entry.ingredients">{{ingredient}}</li>
            </ol>
            <br />
            <h4>Directions</h4>
            <p *ngFor="let direction of entry.directions">{{direction}}</p>
            <a class="link" href="{{entry.href}}" *ngIf="entry.href"><p>{{entry.href}}</p></a>
        </div>
    </div>
</a>

